{% extends "header.html" %} {% block content %} {% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %} {% if detail %} {# Display detail for your flight #}
<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Country:</b> {{ detail.country }}
      </li>
      <li class="list-group-item"><b>From: </b> {{ detail.originplace }}</li>
      <li class="list-group-item"><b>To: </b> {{ detail.destinationplace }}</li>
      <li class="list-group-item"><b>Date: </b> {{ detail.outboundpartialdate }}</li>
      <li class="list-group-item"><b>Price: $</b> {{ detail.minprice }}</li>
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %} {# flight comment submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      Please confirm your schedule
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %} {% endif %} {% endblock content %}
