{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            {{ form.country(class="form-control", placeholder="Country") }}
            {{ form.originplace(class="form-control", placeholder="From") }}
            {{ form.destinationplace(class="form-control", placeholder="To") }}
            {{ form.outboundpartialdate(class="form-control", placeholder="Date") }}

            {% if form.country.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-success") }}
        </form>
    </div>
    <div class="col">
        <h2>Please use the search bar to search for flights! Then you can book them </h2>
    </div>
</div>
{% endblock %}