{% extends "header.html" %}

{% block content %}
<div class="row">   
    <div class="col" >
        <form action="/" class="form-inline my-2 my-lg-0" method="POST" >
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div style="width:100%">
                <h3 style="color:green">Book your flight</h3>
            </div>
            
            <div class="group-fields">
                <label for="currentTime">Today's date and time: </label>
                <input id="currentTime" />
            </div>

            <div class="group-fields" style="width:100%">
                <label for="searchairport">Search 3-letter airplane code by typing a city or airport name </label>
                <input id="searchairport" />
            </div>
            {{ form.csrf_token }}

            <div class="group-fields" style="width:100%">
                <label>Depart: </label>
                {{ form.originplace(class="form-control form-control-md", placeholder="From") }}

                {% if form.originplace.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.originplace.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="group-fields" style="width:100%">
                <label>Arrive: </label>
                {{ form.destinationplace(class="form-control", placeholder="To") }}

                {% if form.destinationplace.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.destinationplace.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="group-fields" style="width:100%">
                <label>Flight date: </label>
                {{ form.outboundpartialdate(class="form-control", placeholder="Date") }}
            </div>
            <div  class="group-fields" style="width:100%">
                {{ form.returndate(class="form-control", placeholder="Return Date")}}
            </div>

            {{ form.submit(class="btn btn-outline-success") }}
        </form>

    </div>
    <div class="col">
        <h2 style="color:darkgreen">Please use the search bar to search for flights! Then you can save them to your schedule</h2>
        <div>
            <p>
                <br>
                <b style="color:rgb(94, 148, 33)">*** Example search ***</b>
                <br>Depart: IAD
                <br>Arrive: LAX
                <br>Flight date: 2020-12-28
            </p>
        </div>
    </div>
</div>

<!-- <script src="{{url_for('static', filename='calendar.js' )}}"> -->
<script type="text/javascript" src="static/calendar.js">
    // console.log("uh");
</script>
{% endblock %}