{% block content %}
    <div>
        <h2>Welcome to Flight Schedule</h2>
    </div>
    <div>
        You have successfully registred to Flight Schedule. 
        Now, you can book for flights of your choice and leave reviews.
        You can also view your reviews and record of your flights on your account page.  
    </div>
    <br>
    <p>
        If you have not already done so, please use an authenticator app such as DuoMobile to enroll with us!! 
        Attached is the QRcode for the authenticator app if you missed it during registration process.
        You will need to use this app to login in the future to get the token for the sign-in.
        After completing this step, try logging in to your account to start your adventure!
    </p>

    <p> You can go straight to your <a href="https://flight-schedule-app.herokuapp.com/login">login page</a> here!!</p>

    <br>
    <p>
        Again, thank you for joining our community and hope you enjoy our services.
    </p>

{% endblock %}
