{% extends "header.html" %} {% block content %}
<div class="row">
  <div class="col">
    <img class="propic" src="data:image/png;base64,{{image}}" alt="image" />
  </div>
  <div class="col">
    <h2>{{ username }}'s Schedules</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>
      Schedules <small class="float-right">{{ schedules.count() }} schedules</small>
    </h1>
    <ul class="media-list">
      {% for schedule in schedules %}
      <li class="media review-item">
        <div class="media-body">
          From: {{ schedule.originplace }}<br>
          To: {{ schedule.destinationplace }}<br>
          Price: {{ schedule.price }}<br>
          Date: {{ schedule.departure_date }}<br>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
